<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
	crossorigin="anonymous"></script>
<script th:inline="javascript">
	const msg = /*[[${msg != null ? msg : 'null'}]]*/null;
	if (msg != null && msg != 'null') {
		alert(msg);
	}
</script>
</head>
<body>
	<nav class="navbar bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand text-light">HOME</a>
			<div class="d-flex">
				<p th:if="${session.loginUser != null}" th:text="${session.loginUser.mname}"
					class="d-flex align-items-center me-3 mb-0 text-light"></p>
				<a th:if="${session.loginUser == null}" href="/member/login"
					class="btn btn-outline-light me-2" type="button">로그인</a>
				<a th:if="${session.loginUser == null}" href="/member/join"
					class="btn btn-success" type="button">회원가입</a>
				<a th:if="${session.loginUser != null}" href="/member/info"
					class="btn btn-success me-2" type="button">회원정보</a>
				<a th:if="${session.loginUser != null}" href="/member/logout"
					class="btn btn-danger me-2" type="button">로그아웃</a>
			</div>
		</div>
	</nav>

	<button onclick="apiTest()" class="btn btn-primary mt-3 ms-2">날씨정보 조회 테스트</button>
	
	<div class="row">
	<div class="container mt-3 overflow-auto col-10" style="max-height: 700px;"> 
	<h1 class="text-center">인천일보 아카데미</h1>
	<div class="gap-4 d-flex flex-nowrap" id="AcademyContent"  >
		<!-- <div class="col-6 col-md-3" >
		<div class="card h-100" >
			 <div class="card-body p-2">
				<h5 class="card-title text-center" th:text="${weather.dataType}"></h5>
				<p th:if="${weather.baseDate != null}" class="card-text mb-1">baseDate: <span th:text="${weather.baseDate}"></span></p>
				<p th:if="${weather.baseTime != null}" class="card-text mb-1">baseTime: <span th:text="${weather.baseTime}"></span></p>
				<p th:if="${weather.category != null}" class="card-text mb-1">category: <span th:text="${weather.category}"></span></p>
				<p th:if="${weather.fcstDate != null}" class="card-text mb-1">fcstDate: <span th:text="${weather.fcstDate}"></span></p>
				<p th:if="${weather.fcstTime != null}" class="card-text mb-1">fcstTime: <span th:text="${weather.fcstTime}"></span></p>
				<p th:if="${weather.fcstValue != null}" class="card-text mb-1">fcstValue: <span th:text="${weather.fcstValue}"></span></p>
				<p th:if="${weather.nx != null}" class="card-text mb-1">nx: <span th:text="${weather.nx}"></span></p>
				<p th:if="${weather.ny != null}" class="card-text mb-1">ny: <span th:text="${weather.ny}"></span></p>
				<p th:if="${weather.obsrValue != null}" class="card-text mb-0">obsrValue: <span th:text="${weather.obsrValue}"></span></p>
			</div>
		</div>
	</div>  -->
	</div>
	</div>
	

	<div class="container mt-3 overflow-auto col-5" style="max-height: 700px;" th:if="${loginUser != null}" th:each="loc : ${loginUser.locations}" >
	<h1 class="text-center" th:text="${loc.locationName}"></h1>
	<div class="gap-4 d-flex flex-nowrap" th:id="${loc.locationName}"  >
	</div>
	</div>

	
	<!-- <div class="container mt-3 overflow-auto col-5" style="max-height: 700px;">
	<h1 class="text-center" id="2ndLocation"></h1>
	<div class="gap-4 d-flex flex-nowrap" id="secondContent"  >
	</div>
	</div> -->
	
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- sockjs -->
	<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
	<!-- Stomp -->
	<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
	
	<script th:inline="javascript" type="text/javascript">
		// 웹소켓 연결
		const weatherSocket = new SockJS("/ws-weather");
		const weatherStomp = Stomp.over(weatherSocket);
		
		const sampleSub = /*[[${loginUser.locations}]]*/ [];
		
		weatherStomp.connect({}, function(){
			
			weatherStomp.subscribe( "/ServerToClient/default" , function(msg){ 
				// msg.body : 화면에 출력할 날씨 데이터
				// 학원 날씨 출력 function(msg.body) 호출
				defaultWeather(msg.body);
			});
			
			/* 회원별 구독 */
			for(let sub of sampleSub){
				weatherStomp.subscribe( "/ServerToClient/" + sub.locationName, function(msg){ 
					// msg.body : 화면에 출력할 날씨 데이터
					// 날씨 출력 function(msg.body) 호출
					
				});
			}
			
		});
		
		function defaultWeather(weatherData){
			console.log("학원 주변 날씨")
			console.log(weatherData);
			
		}
		requestWeather();
		function requestWeather(){
			$.ajax({
				url: "/getWeatherData",
				type: "get",
				dataType: "json",
				success: function(res){
					// defaultWeather(res); // 날씨 출력 기능 호출
					let ncstData = res.ncstData;
					
					delete res.ncstData;
					
					console.log(ncstData);
					console.log(res);
					// 초단기 실황 출력 function(ncstData);
					// 단기예보 출력 function(res);
					
				}
			});
		}
		
		
		
	</script>
	
	<script type="text/javascript">
		function apiTest(){
		const academyContent = document.getElementById("AcademyContent");
		academyContent.innerHTML = "";
			$.ajax({
				url: "/apiTest",
				type: "get",
				data: {nx: "54", ny: "124"},
				dataType: "json",
				success: function(res){
					showWeather(res, academyContent) // 날씨 출력 기능 호출
				}
			});
			firstWeather();
			secondWeather();
		}
		
		function firstWeather(){
			const firstContent = document.getElementById("firstContent");
			firstContent.innerHTML = "";
				$.ajax({
					url: "/firstWeather",
					type: "get",
					data: {nx: "54", ny: "125"},
					dataType: "json",
					success: function(res){
						showWeather(res, firstContent) // 날씨 출력 기능 호출
					}
				});
			}
		
		
		function secondWeather(){
			const secondContent = document.getElementById("secondContent");
			secondContent.innerHTML = "";
				$.ajax({
					url: "/secondWeather",
					type: "get",
					data: {nx: "52", ny: "125"},
					dataType: "json",
					success: function(res){
						showWeather(res, secondContent) // 날씨 출력 기능 호출
					}
				});
			}
		
		
		function showWeather(weatherList, Content){
			//console.log(weatherList);
			let keys = Object.keys(weatherList);
			for(let dateTime of keys){
				let infoList = weatherList[dateTime];
				let timeInfoList = [];
				timeInfoList.push(dateTime);
				for(let info of infoList){
					timeInfoList.push(info.category +  " : " + info.fcstValue);
				}
				printMethod(timeInfoList, Content);
			}
		}
		
		function printMethod(list, Content){
			let html = `<div class="flex-shrink-0 w-auto" >
				<div class="card " >
				<div class="card-body p-2">
				<h5 class="card-title text-center"></h5>`;
				for(const item of list){
				html += `<p class="card-text mb-1"><span>${item}</span></p>`;
				}
			html += `</div></div></div>`;
			
			Content.innerHTML += html;
		}
	
	</script>
</body>
</html>