<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
	body{
        background-color: grey;
    }
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>home.html</h1>
	
	<h2 th:text="${data1}"></h2>
	
	<a href="/sample">1. Form 양식이 있는 페이지로 이동하는 링크</a>
	<hr>
	<a href="/list">1. 목록을 출력하는 페이지로 이동하는 링크</a>
	<hr>
	
	<form action="/search" method="post">
		검색할 username <input type="text" name="searchName">
		<input type="submit" value="이름검색">
	</form>
	<hr>
	<a href="/sampleApi">도시 코드 목록 출력</a>
	
	<!-- sockjs -->
	<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
	
	<script type="text/javascript">
		// 설정된 주소로 웹소켓 연결
		let sampleSocket = new SockJS("/ws-connect"); // WebSocketConfig클래스에서 설정한 웹소켓 연결 주소(EndPoint)
		// STOMP 
		let sampleStomp = Stomp.over(sampleSocket);
		
		// 서버에서 받을 메시지 구독
		sampleStomp.connect({}, function(){
			/* 구독 */
			sampleStomp.subscribe("/ServerToClient/subURL",function(msg){ // 서버가 클라이언트에게 메시지를 보낼 주소("/ServerToClient/subURL")
				// msg : 서버에서 클라리언트로 전송하는 메시지
				console.log(msg.body); // msg.body : 서버에서 보낸 메시지 내용
			});
			
			// 메시지 전송
			sampleStomp.send("/ClientToServer/message", {}, "접속확인 메시지 전송");
			
		});
	</script>
	
</body>
</html>