<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
	body{
        background-color: grey;
    }
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>home.html</h1>
	
	<h2 th:text="${data1}"></h2>
	
	<a href="/sample">1. Form 양식이 있는 페이지로 이동하는 링크</a>
	<hr>
	<a href="/list">1. 목록을 출력하는 페이지로 이동하는 링크</a>
	<hr>
	
	<form action="/search" method="post">
		검색할 username <input type="text" name="searchName">
		<input type="submit" value="이름검색">
	</form>
	
</body>
</html>